.cart-headinf{
    text-align: center;
}
.cartitm-bdr{
    width: 335px;
    height: 370px;
}
.cartitm-bdr-ims{
    width: 335px;
    height: 370px;
    border-right: 1px solid gray;
}
.cartitm-bdr-ims img{
width: 100%;
height: 100%;
object-fit: contain;
}
.cart-scrn-bdr{
    padding: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: -webkit-fill-available;
    margin: auto;  

}
.rmv-btn{
    padding: 8px;
    width: 90%;
    margin: auto;
    justify-content: center;
    display: flex;
    justify-content: center;
    background-color: #000000;
    font-size: 16px;
    color: #fff;
    align-items: center;
    gap: 10px;
    border-radius: 9px;
}
.cart-brdr{
    border: 1px solid gray;
    display: flex;
    border-radius: 9px;
    
}
.cart-add-price{
    text-align: left;
    padding-left: 30px;
    font-weight: 700;
}