.book-screen {
    display: flex;
    border: 1px solid red;
}

.Bookfilter {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    justify-content: center;

}

.Bookwrap {
    width: 100%;
    border: 2px solid green;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    padding: 18px;
    row-gap: 40px;
    column-gap: 12px;

}

@media screen and (max-width:768px){
    .book-screen {
        display: grid;
        grid-template-columns: 100%;
       
    }
    .Bookfilter {
    width: 90%;
    margin: auto;
    
    }
    .Bookwrap {
 display: flex;
 flex-wrap: wrap;

    
    }
}