/* .main-admin-screen-wrapper{
  display: flex;
}
.admin-screen-content {
  background-color: #f4f7fe;
  width: 100%;
}
.admin-screen-header{
  position: sticky;
  top: 0;
  z-index: 100;
}
 */
 .main-admin-screen-wrapper {
    display: flex;
  }
  
  .admin-screen-content {
    background-color: #f4f7fe;
    width: 100%;
  }
  
  .admin-screen-header {
    position: sticky;
    top: 0;
    z-index: 1;
  }
  
  .admin-page-sidebar {
    /* Add necessary styles to ensure visibility */
  }
  