/* ContactUs.css */
.contact-screen {
    padding-top: 40px;
    padding-bottom: 70px;
    background-color: whitesmoke;
  }
  .contact-getin >h2{
    text-align: center;
    font-style: normal;
      font-size: 40px;
      font-family: 'Noto Sans';
  }
  .contact-form {
    max-width: 445px;
    margin: 0 auto;
    margin-top: 30px;
    border-radius: 20px;
    background-color: #fff;
    padding-top: 30px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 42px;
    box-shadow: 0px 4.934579372406006px 19.738317489624023px 0px #1f1b2d1f;
  
  }
  .contact-drop{
    font-size: 25px;
  }
  .contact-frmm{
    padding-top: 30px;
  }
    .contact-form h2 {
      text-align: center;
      margin-bottom: 20px;
    }
    
    .form-group {
      margin-bottom: 24px;
    }
    
    
    .form-group input,
    .form-group textarea {
      width: 100%;
    border: none;
    outline: none;
    padding-bottom: 8px;
    color: black;
    margin-bottom: 38px;
    font-size: 16px;
    border-bottom: 1px solid gray;
    }
    
        
    .form-group input,
    .form-group textarea:focus {
color: blue;
    }
    
    .form-group textarea {
      height: 100px;
      max-width: 94%;
    }
    
   
    
   .contact-bnt{
      width: 100%;
      padding: 12px;
      border-radius: 10px;
      background-color: #db4444;
      color: #fff;
      cursor: pointer;
      border: none;
    }
    .contact-bnt:hover{
    background-color: #fff;
    color: red;
    border:1px solid #db4444;
    }
    