.Adminmen-product-screen-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 40px;
    column-gap: 40px;
    border-radius: 15.662px;
    background: #FFF;
    box-shadow: 7.831px 7.831px 19.578px 0px rgba(0, 0, 0, 0.08);
    padding-top: 35px;
    padding-bottom: 35px;
    padding-left: 15px;
    padding-right: 15px;
}
.adminmen-prdct-gap{
    padding-top: 45px;
    padding-bottom: 35px;
}

.showthree-options {
    display: grid;
    border-radius: 15px;
    background-color: #fff;
    position: absolute;
    top: 106%;
    right: 0;
    gap: 2px;
    padding: 3px;
}

.show-three-optionsbutton {
    font-size: 16px;
    color: black;
    background-color: #fff;
    font-weight: 700;
}

.show-three-optionsbutton:hover {
    background-color: gray;

}

#three-dot-rell {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    width: 25px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 3%;
    right: 3.5%;
    padding: 10px;
    cursor: pointer;
}

.Adminmen-product-screen {
    max-width: 1280px;
    margin: auto;
}

.admin-men-prdct {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: auto;
    max-width: 300px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 8px;
    margin: auto;
    border-radius: 15.662px;
    background: #FFF;
    box-shadow: 7.831px 7.831px 19.578px 0px rgba(0, 0, 0, 0.08);
}

.admin-men-prdct img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    transition: transform 0.3s ease;
}

#three-dot-rell img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.admin-men-prdct>button {
    width: 100%;
    border-radius: 9px;
    background-color: #335918;
    color: #fff;
    padding: 8px;
    margin-top: 16px;
    border: none;

}

.admin-men-prdct>button:hover {
    background-color: #fff;
    color: black;
    border: 1px solid;

}