.newarrivals-wrap{

}
.newarrivals-heading>h2{
  text-align: center;
}
.arrival-design-data{
    padding-bottom: 30px;
}
.home-arrival-mens{
    /* height: 100%;
    width: 100%; */
}
.home-arrival-mens img{
    height: 100%;
object-fit:contain;
width: 100%;

}

.arrival-design-data img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.gangstext>h2{
    text-align: center;
}
.gangs-Image-arrival{
    width: 99%;
    margin: auto;
    display: flex;
}
.gangs-Image-arrival img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.gangns-home-arrival{
    width: 49.5%;
    margin: auto;
}