.dashboard-adddelete {
    display: flex;
    justify-content: space-between;
}

.dashboard-wrappeer {
    max-width: 1230px;
    margin: auto;
    margin-top: 70px;
}

.dashboard-addproduct-llink {
    padding: 30px 30px 49px 30px;
    margin: auto;
    width: 308px;
    height: auto;
    border-radius: 35px;
    background: #FFF;
    box-shadow: 0px 4px 35px 0px rgba(0, 0, 0, 0.08);
}

.dashboard-addproduct-llink-add {
    background-color:#fff;
    padding: 30px 30px 60px 30px;
    margin: auto;
    width: 308px;
    height: auto;
    border-radius: 35px;
    box-shadow: 0px 4px 35px 0px rgba(0, 0, 0, 0.08);
}

.dashboard-delproduct-llink {
    padding: 30px 30px 55px 30px;
    margin: auto;
    width: 308px;
    height: auto;
    border-radius: 35px;
    background: #FFF;
    box-shadow: 0px 4px 35px 0px rgba(0, 0, 0, 0.08);
}

.dashboard-mobproduct-llink {
    padding: 30px 30px 55px 30px;
    margin: auto;
    width: 308px;
    height: auto;
    border-radius: 35px;
    background: #FFF;
    box-shadow: 0px 4px 35px 0px rgba(0, 0, 0, 0.08);
}

.dashboard-addproduct-details>h2 {
    text-align: center;
    font-size: 30px;
    font-weight: 650;
    color: black;
}

.dashboard-addproduct-number {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 30px;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    background: padding-box;
    box-shadow: 0px 4px 35px 0px rgba(0, 0, 0, 0.08);
}
.dashboard-addproduct-number-men {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 53px;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    background: padding-box;
    box-shadow: 0px 4px 35px 0px rgba(0, 0, 0, 0.08);
}

.dashboard-buttn {
    width: 100%;
    background-color: #335918;
    color: #fff;
    padding: 15px;
    border-radius: 21px;
    border: none;
    cursor: pointer;
}

.dashboard-buttn:hover {
    background-color: white;
    color: red;
    border: 1px solid black;

}
.dashboard-addproduct-btn {
    margin-top: 63px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dashboard-addproduct-btns {
    margin-top: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dashboard-addproduct-btn-men {
    margin-top: 88px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.add-prdt-top {
    font-size: 22px;
    font-weight: bold;
    padding-bottom: 30px;
    text-decoration: underline;
}

/* .add-prdt-top {
    color: red;
    margin-bottom: 30px;
    position: relative;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 2em;
    letter-spacing: 4px;
    overflow: hidden;
    color: white; 
    background: linear-gradient(90deg, #000, #fff, #000);
    background-repeat: no-repeat;
    background-size: 80%;
    animation: animate 3s linear infinite;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

@keyframes animate {
    0% {
        background-position: -500%;
    }
    100% {
        background-position: 500%;
    }
} */


