*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.sidebar-screen{
    display: flex;

    position: sticky;
    top: 0px;
  
}
.sidebar-screen-wrapper{
    background-color:#000;
    color: #fff;
    height: 100vh;
    width: 300px;
    transition: all 0.5s;
}
.top-section{
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 20px 15px;
}
.logo{
    font-size: 30px;
}
.bars{
    display: flex;
    font-size: 25px;
    margin-left: 50px;
}
.link{
    display: flex;
    color: #fff;
    padding: 10px 15px;
    gap: 15px;
    transition: all 0.5s;

}
.link:hover{
    background-color: lightskyblue;
    counter-reset: #000;
    transition: all 0.5s;
}

.link, .link_text{
    font-size:20px ;
}