.map {
    width: 100%;
    height: 100%;
}
#container {
font-size: 40px;
gap: 30px;
display: flex;
align-items: center;
justify-content: center;
   
width: fit-content;
margin: auto;
margin-top: 20px;
margin-bottom: 10px;
padding: 10px;
border-radius: 10px;
}
.cityy{
border-radius: 12px;
font-size: 12px;
padding: 12px;
}

.btnn {
    font-weight: 70;
    width: 100px;
    padding: 12px;
    background-color: #ff7b00; 
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  
  .btnn:hover {
    color: black;
    background-color:#fff; 
  }
.btnn > button:hover {
color: var(--primary-color);
background-color: var(--white);
border: 1px solid var(--primary-color);
}
.centerr{
display: flex;
align-items: center;
justify-content: center;
gap: 10px;
margin-top: 15px;
}
.checkweater{
    display: flex;
    align-items: center;
    justify-content: center;
}
