/* Header Container */
.vax {
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: #333;
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left:  70px;
  padding-right: 70px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 2);
}


/* Navigation Links */
.none-decrt {
  font-size: 19px;
  text-decoration: none;
  color: #fff;

  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.none-decrt:hover {
 color: #ff5757;
 transform: scale(0.9);
}

.nav-item {
  display: flex;
  align-items: center;
  gap: 120px;
}

.nav-item a.title-home {
  color: #ff5757;
  font-weight: bold;
  font-size: 24px;
  font-family: 'slick';
 
}
.nav-item a.title-home:hover {
  color: #fff;
  transform: scale(0.9);
 
}

.header-hamburger {
  background-color: #fff;
  display: none;
  color: black;
}

.hamburger-imageee>p {
  font-weight: 700;
  font-size: 28px;
  color: #ff5757;
  font-family: 'slick';


}
.mobile-menu {
  position: absolute;
  z-index: 200;
  
  right: 0;
  border-radius: 14px;
  background-color: #fff;
  width: 260px; 
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
  transition: transform 0.8s ease;

 
}

.mobile-nav-item {
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  display: grid;
  grid-template-columns: 100%;
  row-gap: 20px;
  padding: 12px;
border-radius: 14px;
}


.mobile-nav-item:last-child {
  border-bottom: none; 
}


@media screen and (max-width: 991px) {
  .header-hamburger {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .vax {
    display: none;
  }
}

@media screen and (min-width:992px) and (max-width: 1150px) {
  .nav-item {
    gap: 20px;
}
.vax {
  padding-bottom: 30px;
  padding-left: 30px;
}
}

@media screen and (min-width:1151px) and (max-width: 1480px) {
  .nav-item {
    gap: 60px;
}
.vax {
  padding-bottom: 30px;
  padding-left: 30px;
}
}