.music-records-screen{
    border: 1px solid red;
    display: flex;
   min-height:  100vh;
}
.music-filter{
    width: 200px;
    border: 1px solid black;
}
.music-albums {
    text-align: center;
    border: 1px solid blue;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 10px;
}