.Admin-Header-screen-wrapper {
    padding-left: 76px;
    background: #F4f7fe;
    display: flex;
    height: 100px;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    
}

.Admin-Header-title>span{
  font-size: 30px;
  color: #000000;
  font-weight: 700;
}